spack:
  specs:
  # package is defined in the workflows inputs.spack-manifest-data-pairs
  - '{{ package }} configurations=MOM6,CICE6,WW3,MOM6-WW3,MOM6-CICE6,CICE6-WW3,MOM6-CICE6-WW3'
  packages:
    all:
      require:
        - '%access_gcc'
  view: false
