# This manifest is the same as the default for the intel compiler. 
# We provide a manifest in this folder to suppress the default build using the 
# gcc compiler from occuring, due to https://github.com/ACCESS-NRI/access-spack-packages/issues/342
spack:
  specs:
  - '{{ package }}@access-esm1.5 %{{ intel_compiler }}'
  - '{{ package }}@access-esm1.6 %{{ intel_compiler }}'
  packages:
    all:
      require:
      - '%{{ intel_compiler }}'
  concretizer:
    unify: false
  view: false
