# This manifest tests all relevant combinations of the ISSM package variants
spack:
  specs:
  - matrix:
    - ['issm']
    - ['+ad', '~ad']
    - ['+wrappers']
  packages:
    gcc:
      require:
        - '{{ gcc_compiler }}'
    all:
      require:
        - '%access_gcc'
        - 'target={{ target }}'
  concretizer:
    unify: false
  view: false
