# Dedicated CI matrix to exercise ISSM flavour combinations.
# This file is needed so CI concretizes both +ad and ~ad in the same workflow.
spack:
  specs:
  - matrix:
    - ['issm']
    - ['+ad', '~ad']
    - ['+wrappers']
    - ['+py-tools']
  packages:
    gcc:
      require:
        - '{{ gcc_compiler_ver }}'
    all:
      require:
        - '%access_gcc'
        - 'target={{ target }}'
  concretizer:
    unify: false
  view: false
