# This manifest is used by default for packages without a specific manifest under .github/build-ci/manifests/PACKAGE/*.j2
spack:
  specs:
  # package is defined in the workflows inputs.spack-manifest-data-pairs
  - '{{ package }}'
  packages:
    all:
      require:
        - '%access_oneapi'
  view: false
