spack:
  specs:
    - 'access-esm1p6 %{{ intel_compiler }}'
  packages:
    cice5:
      require:
        '@git.access-esm1.6=stable'
    all:
      require:
      - '%{{ intel_compiler }}'
  concretizer:
    unify: false
  view: false
