spack:
  specs:
    - 'access-esm1p6 ^cice5 nxglob=360 nyglob=300 blckx=15 blcky=300 mxblcks=1'
    - 'access-esm1p6 ^cice5 build_system=makefile'
    - 'access-esm1p6 ^cice5 build_system=cmake'
  packages:
    python:
      require:
      - '@3.11.14'
    intel-oneapi-compilers-classic:
      require:
      - '{{ intel_compiler_ver }}'
    all:
      require:
      - '%access_intel'
      - 'target={{ target }}'
  concretizer:
    unify: false
  view: false
