spack:
  specs:
    - 'access-om2 ~deterministic %{{ intel_compiler }} ^cice5 build_system=cmake nxglob=360 nyglob=300 blckx=15 blcky=300 mxblcks=1'
    - 'access-om2 ~deterministic %{{ intel_compiler }} ^cice5 build_system=makefile'
  packages:
    all:
      require:
      - '%{{ intel_compiler }}'
  concretizer:
    unify: false
  view: false
