spack:
  specs:
  - 'cice5 model=access-om2' #makefile
  - 'cice5 model=access-esm1.6' #makefile
  - 'access-om2 ^cice5 build_system=cmake' #cmake
  - 'access-esm1p6 ^cice5 build_system=cmake ^cable@2025.11.000 library=access-esm1.6' #cmake
  packages:
    intel-oneapi-compilers:
      require:
      - '{{ oneapi_compiler_ver }}'
    all:
      require:
      - '%access_oneapi'
      - 'target={{ target }}'
  concretizer:
    unify: false
  view: false