spack:
  specs:
  # package is defined in the workflows inputs.spack-manifest-data-pairs
  # And the gcc_compilers are defined in the standard_definitions.json data file
  - '{{ package }} +mpi'
  - '{{ package }} ~mpi'
  packages:
    gcc:
      require:
        - '{{ gcc_compiler }}'
    all:
      require:
        - '%access_gcc'
        - 'target={{ target }}'
  concretizer:
    unify: false
  view: false
