# Adjoint-PETSc cannot be built with oneAPI and intel compilers, so we will use gcc for this package. 
# We will also use the same manifest for all versions of adjoint-PETSc, since the dependencies and compiler requirements are the same for all versions.

spack:
  specs:
  # package is defined in the workflows inputs.spack-manifest-data-pairs
  # gcc_compiler_ver is defined in the standard_definitions.json data file
  - '{{ package }}'
  packages:
    gcc:
      require:
        - '{{ gcc_compiler_ver }}'
    all:
      require:
        - '%access_gcc'
        - 'target={{ target }}'
  concretizer:
    unify: false
  view: false
