# Dedicated CI manifest for adjoint-petsc.
# This file exists because the recipe currently conflicts with %intel and %oneapi,
# so CI must force a GCC concretization for this package.
spack:
  specs:
  # package is defined in the workflows inputs.spack-manifest-data-pairs
  - '{{ package }}'
  packages:
    all:
      require:
        - '%access_gcc'
  view: false
